body {
    font-family: 'Arial', sans-serif;
    background-color: transparent; /* Fundo transparente */
}

.widget-contato, .language-selector {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.icone, .language {
    display: inline-block;
    padding: 10px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    color: #c92e1a; /* Vermelho */
    text-decoration: none;
    font-size: 24px;
    background-color: #000000; /* Fundo preto */
}

.icone:hover, .language:hover {
    background-color: #c92e1a; /* Fundo vermelho no hover */
    color: #000000; /* Ícone/texto preto no hover */
}

/* Estilos para o texto do seletor de idiomas */
.language {
    font-size: 16px; /* Tamanho de fonte menor para o texto do idioma */
    padding: 8px 10px; /* Ajuste do padding para melhor acomodar o texto */
}

/* Ajustes no ícone do globo para idiomas, se necessário */
.language i {
    margin-right: 5px; /* Adiciona espaço entre o ícone e o texto */
}
