body {
    font-family: 'Arial', sans-serif;
    background-color: transparent; /* Fundo transparente */
}

.widget-contato {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.icone {
    display: inline-block;
    padding: 10px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    color: #c92e1a; /* Vermelho */
    text-decoration: none;
    font-size: 24px;
    background-color: #000000; /* Fundo preto */
}

.icone:hover {
    background-color: #c92e1a; /* Fundo vermelho no hover */
    color: #000000; /* Ícone preto no hover */
}

/* Cores personalizadas para ícones de contato específicos, se necessário */
.whatsapp { color: #c92e1a; }
.instagram { color: #c92e1a; }
.localizacao { color: #c92e1a; }
.telefone { color: #c92e1a; }
